name: CDK Deploy (OIDC Secure)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install CDK and dependencies
        working-directory: ./infra
        run: |
          npm install -g aws-cdk
          npm ci
          npm run build

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::320765978526:role/GitHubCdkDeployRole
          aws-region: ap-south-1

      - name: Bootstrap environment (if first deploy)
        working-directory: ./infra
        run: cdk bootstrap

      - name: Deploy CDK stacks
        working-directory: ./infra
        run: cdk deploy --all --require-approval never
